<div class="col-xs-12">

  <h1 class="text-center">Basketball League</h1>
  <br />
    <% @team.each do |team| %>
          <div class="panel panel-default panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading"><%= team.name %></div>
          <div class="panel-body">
            <p>We call this team - <%= team.description %>. Lakers are looking for Kobe to make a comeback from retirement.</p>
          </div>
          <hr />
          <!-- Table -->
          <table class="table">
            <ul>
              <li>
                <ul>
                <li></li>
                </ul>
              </li>
              <li></li>
              <li></li>
            </ul>
          </table>
      </div>
    <% end %>
</div>


