<div class="container">
<div class="col-xs-12">
  <h1 class="text-center">Basketball League</h1>
  <br />
  <br />
  <div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @team.each do |team| %>
          <div class="panel panel-default panel-success">
          <!-- Default panel contents -->
              <div class="panel-heading"><%= team.name %></div>
              <div class="panel-body">
                  <p><%= team.name %> is <%= team.description %></p>
                  <p><%= team.name %> is currently on a 5 game winning streak!</p>
                  <hr />
                  <h4 class="text-center">(Current Score: 5-0)</h4>
              </div>
          </div>
    <% end %>
  </div>




  </div>
</div>
