<div class="col-xs-12">
  <h1 class="text-center">Basketball League</h1>
  <% @matches.each do |match| %>
      <h1><%= match.score %></h1><br />
      <h3><%= match.status %></h3><br />
    <hr />
  <% end %>
</div>
