@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  font-family: 'Lato', sans-serif;
  color: #7f8c8d;
  background-color: #E9EBEE;
}

/*Font */
h1 {
  font-weight: 900;
}

/* Navbar */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default {
  background-color: #34495e;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 900;
}




/* table */
.panel-default > .panel-heading {
  font-weight: 900;
  font-size: 20px;

}
